<div class="container my-2 scroll flex-fill">
    <div class="row">
        <div class="col-lg-4 col-12">
            <div class="border rounded p-3">
                <p class="w-100 fw-bold font-xl text-uppercase">Thông tin</p>
                <select class="w-100 mt-3 p-3 border rounded inner-shadow" name="" id="" >Chọn khoa
                    <option value="">Chọn khoa</option>
                </select>
                <select class="w-100 mt-3 p-3 border rounded inner-shadow" name="" id="">
                    <option value="">Chọn lớp</option>
                </select>
                <div class="d-grid gap-2 col-6 mx-auto mt-3">
                    <button class="btn btn-primary" type="button">OK</button>
                </div>  
            </div>
        </div>  
        <div class="col-lg-8 col-12">
            <table class="table table-hover table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Tên</th>
                        <th scope="col">Ngày nộp</th>
                        <th scope="col">Kích thước</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NguyenQuocBao-CV.PDF</td>
                        <td>2 thg 8 , 2024</td>
                        <td>6,8 MB</td>
                    </tr>
                    <tr>
                        <td>NguyenQuocBao-CV.PDF</td>
                        <td>2 thg 8 , 2024</td>
                        <td>6,8 MB</td>
                    </tr>
                    <tr>
                        <td>NguyenQuocBao-CV.PDF</td>
                        <td>2 thg 8 , 2024</td>
                        <td>6,8 MB</td>
                    </tr>
                    <tr>
                        <td>NguyenQuocBao-CV.PDF</td>
                        <td>2 thg 8 , 2024</td>
                        <td>6,8 MB</td>
                    </tr>
                    <tr>
                        <td>NguyenQuocBao-CV.PDF</td>
                        <td>2 thg 8 , 2024</td>
                        <td>6,8 MB</td>
                    </tr>
                    <tr>
                        <td>NguyenQuocBao-CV.PDF</td>
                        <td>2 thg 8 , 2024</td>
                        <td>6,8 MB</td>
                    </tr>
                    <tr>
                        <td>NguyenQuocBao-CV.PDF</td>
                        <td>2 thg 8 , 2024</td>
                        <td>6,8 MB</td>
                    </tr>
                    <tr>
                        <td>NguyenQuocBao-CV.PDF</td>
                        <td>2 thg 8 , 2024</td>
                        <td>6,8 MB</td>
                    </tr>
                    <tr>
                        <td>NguyenQuocBao-CV.PDF</td>
                        <td>2 thg 8 , 2024</td>
                        <td>6,8 MB</td>
                    </tr>
                    <tr>
                        <td>NguyenQuocBao-CV.PDF</td>
                        <td>2 thg 8 , 2024</td>
                        <td>6,8 MB</td>
                    </tr>
                    <tr>
                        <td>NguyenQuocBao-CV.PDF</td>
                        <td>2 thg 8 , 2024</td>
                        <td>6,8 MB</td>
                    </tr>
                    <tr>
                        <td>NguyenQuocBao-CV.PDF</td>
                        <td>2 thg 8 , 2024</td>
                        <td>6,8 MB</td>
                    </tr>
                    <tr>
                        <td>NguyenQuocBao-CV.PDF</td>
                        <td>2 thg 8 , 2024</td>
                        <td>6,8 MB</td>
                    </tr>
                    <tr>
                        <td>NguyenQuocBao-CV.PDF</td>
                        <td>2 thg 8 , 2024</td>
                        <td>6,8 MB</td>
                    </tr>
                    <tr>
                        <td>NguyenQuocBao-CV.PDF</td>
                        <td>2 thg 8 , 2024</td>
                        <td>6,8 MB</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>