@import "variable";

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

p{
    margin: 0;
}

html,body{
    height: 100%;
}

.header{
    height: 120px;
}


.text-red{
    color: $red;
}

.font-xl{
    font-size: $xl;
}

.inner-shadow{
    box-shadow: inset 0px 1px 4px #c2bebe;
}

.bg-orange{
    background-color: $orange !important;
}

.active{
    background-color: white !important;
    color: $orange !important;
}

.list-group-item:hover{
    background-color: white !important;
    color: $orange !important;
}

.register{
    height: 500px!important;
    overflow-y: scroll;
}

