.student-dashboard .student-listtopic {
    height: 15rem;
    align-items: center;
}

.student-dashboard .student-listtopic .card .card-body p {
    width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.student-dashboard .card {
    position: relative;
    /* Đảm bảo thẻ <a> và icon được đặt tương đối với .card */
}

.student-dashboard .card-footer-details {
    position: absolute;
    bottom: 5px;
    /* Khoảng cách từ đáy của card */
    right: 5px;
    /* Khoảng cách từ cạnh phải của card */
}

.student-dashboard .card-footer-details a {
    font-size: 0.7rem;
    text-decoration: underline;
    color: #007bff;
}

.student-dashboard .card-icon-check {
    position: absolute;
    top: 5px;
    /* Khoảng cách từ đỉnh của card */
    right: 5px;
    /* Khoảng cách từ cạnh phải của card */
    font-size: 1.2rem;
    color: green;
}


.student-dashboard .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    /* Lớp phủ mờ */
    z-index: 10;
    /* Đảm bảo lớp phủ nằm trên cùng */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    pointer-events: auto;
    /* Đảm bảo chỉ lớp phủ nhận sự kiện */
    border-radius: 0.5rem;
}

.student-dashboard .card-overlay marquee {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 15px;
}

.student-dashboard .card-overlay .btn-ok {
    z-index: 11;
}