.student-accountinfo .edit-btn {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.student-accountinfo .position-relative:hover .edit-btn {
    visibility: visible;
    opacity: 1;
}

/* Ẩn input file và hiển thị chỉ label */
input[type="file"] {
    display: block;
}

.student-accountinfo .edit-btn i {
    color: #000;
    font-size: 20px;
}