.student-dashboard .student-listtopic{
    height: 15rem;
    align-items: center;
}

.student-dashboard .student-listtopic .card .card-body p{
    width: 15rem; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}