<div class="container flex-fill scroll">
    <div class="row mt-2">
        <div class="col-9">
            <div class="border rounded-3 h-100">
                <div class="text-light bg-orange border rounded-top">Danh sách tài khoản</div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tên đăng nhập</th>
                        <th scope="col">Quyền</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Ngày cập nhật</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>admin123</td>
                        <td>admin</td>
                        <td>25-09-2024</td>
                        <td>25-09-2024</td>
                        <td><i>xóa</i> <i>sửa</i></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-3">
            <form action="" class="border rounded d-flex flex-column">
                <p class="border rounded-top bg-orange mb-2 text-light p-1">Tạo mới tài khoản</p>
                <input class=" mb-2 mx-2 border rounded p-1" type="text" value="" placeholder="Nhập tên đăng nhập">
                <select class=" mx-2 mb-2 border rounded p-1" name="" id="" >
                    <Option value="Admin">Quản trị viên</Option>
                    <option value="advisor">Giảng viên</option>
                    <option value="student">Sinh viên</option>
                </select>
                <button class="btn border mb-2 bg-success text-light mx-5" type="submit">Tạo</button>
            </form>
            <form action="" class="border rounded d-flex flex-column mt-2">    
                <p class="border rounded-top bg-orange mb-2 text-light p-1">Chỉnh sửa tài khoản</p>
                <input class="mx-2 mb-2 border rounded p-1" type="text" value="" placeholder="ID">
                <input class="mx-2 mb-2 border rounded p-1" type="text" value="" placeholder="Nhập tên đăng nhập">
                <select class="mx-2 mb-2 border rounded p-1" name="" id="" >
                    <Option value="Admin">Quản trị viên</Option>
                    <option value="advisor">Giảng viên</option>
                    <option value="student">Sinh viên</option>
                </select>
                <button class="btn border mt-3 bg-info text-light mx-5 mb-2" type="submit">Sửa</button>
            </form>
        </div>
    </div>
</div>