<div class="container-fluid d-flex flex-column" style="height: 75%;">
    <div class="row border-bottom align-items-center" style="height: 50px;">
        <p>Trang chủ | Danh sách giảng viên</p>
    </div>
    <div class="row flex-grow-1 p-2">
        <div class="col">
            <div class="border rounded-3 h-100">
                <div class="text-light bg-orange border rounded-top">Danh sách giảng viên</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tên giảng viên</th>
                            <th scope="col">Sinh ngày</th>
                            <th scope="col">SĐT</th>
                            <th scope="col">Email</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Nguyễn Đức Cương</th>
                            <td>09/10/1987</td>   
                            <td>0795488914</td>
                            <td>duccuong1987@gmail.com</td>
                            <td>số 1 Nguyễn Bỉnh Khiêm</td>
                            <td><i>xóa</i> <i>sửa</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
