<div class="container-fluid" style="height: 75%;">
    <div class="row" style="height: 50px;">
        <p>Trang chủ | Thông tin tài khoản</p>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Thông tin cá nhân
                </a>
                <a href="#" class="list-group-item list-group-item-action">Cài đặt chung</a>
                <a href="#" class="list-group-item list-group-item-action">Bảo mật</a>
                <a href="#" class="list-group-item list-group-item-action">Giới thiệu</a>
            </div>
        </div>
        <div class="col-9">
            <div class="d-flex justify-content-between mt-4">
                <img src="/img/logo_khoabkc.jpg" style="height: 120px;width:120px" alt="">
                <button class="border-0 bg-transparent ">Chỉnh sửa</button>
            </div>
            <div class="d-flex justify-content-between border-bottom mt-4">
                <p>Tên</p>
                <p>Nguyễn Quốc Bảo</p>
                <button class="border-0 bg-transparent ">Chỉnh sửa</button>
            </div>
            <div class="d-flex justify-content-between border-bottom mt-4">
                <p>Ngày sinh</p>
                <p>29/08/2004</p>
                <button class="border-0 bg-transparent ">Chỉnh sửa</button>
            </div>
            <div class="d-flex justify-content-between border-bottom mt-4">
                <p>Số điện thoại</p>
                <p>0795488914</p>
                <button class="border-0 bg-transparent ">Chỉnh sửa</button>
            </div>
            <div class="d-flex justify-content-between border-bottom mt-4">
                <p>Email</p>
                <p>quocbaor2908@gmail.com</p>
                <button class="border-0 bg-transparent ">Chỉnh sửa</button>
            </div>
            <div class="d-flex justify-content-between border-bottom mt-4">
                <p>Giới tính</p>
                <p>Nam</p>
                <button class="border-0 bg-transparent ">Chỉnh sửa</button>
            </div>
            <div class="d-flex justify-content-between border-bottom mt-4">
                <p>Địa chỉ</p>
                <p>558 Nguyễn Văn Khối</p>
                <button class="border-0 bg-transparent ">Chỉnh sửa</button>
            </div>
        </div>
    </div>
</div>