<div class="container scroll flex-fill" style="">
    <div class="row">
        <div class="col-12 mt-2">
            <p>Điền thông tin đăng kí đề tài:</p>
        </div>
        <div class="col-12 mt-3">
            <form action="">
                <div class="container">
                    <fieldset class="row border rounded-3 p-3 g-2">
                        <legend class="float-none w-auto m-0 px-3" >Thông tin sinh viên</legend>
                        <div class="col-sm-6 col-12 d-flex align-items-center">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-2 col">
                                        <label for="name">Lớp: </label>
                                    </div>
                                    <div class="col-lg-10 col">
                                        <input class="w-100" type="text" id="name" name="name" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 d-flex align-items-center">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 col">
                                        <label for="">Chuyên nghành: </label>
                                    </div>
                                    <div class="col-lg-9 col">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Ứng dụng phần mềm</option>
                                            <option value="1">Thương mại điện tử</option>
                                            <option value="2">Quản trị mạng</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 d-flex align-items-center">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-2 col">
                                        <label for="name">Email: </label>
                                    </div>
                                    <div class="col-lg-10 col">
                                        <input class="w-100" type="email" id="" name="" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 d-flex align-items-center">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 col">
                                        <label for="name">Số điện thoại: </label>
                                    </div>
                                    <div class="col-lg-9 col">
                                        <input class="w-100" type="" id="" name="" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="row border rounded-3 p-3 g-2 mt-3">
                        <legend class="float-none w-auto m-0 px-3" >Lựa chọn đề tài</legend>
                        <div class="col-sm-6 col-12 d-flex align-items-center">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-2 col">
                                        <label for="name">Đề xuất: </label>
                                    </div>
                                    <div class="col-lg-10 col">
                                        <select class="form-select" aria-label="Default select example">
                                            <option value="" selected>1</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 d-flex align-items-center">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 col">
                                        <label for="">Tự chọn: </label>
                                    </div>
                                    <div class="col-lg-9 col">
                                        <input class="w-100" type="text" id="name" name="name" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="row border rounded-3 p-3 g-2 mt-3">
                        <legend class="float-none w-auto m-0 px-3" >Thông tin đề tài</legend>
                        <div class="col-sm-6 col-12 d-flex align-items-center">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-2 col">
                                        <label for="name">Tên đề tài: </label>
                                    </div>
                                    <div class="col-lg-10 col">
                                        <input class="w-100" type="text" id="name" name="name" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 d-flex align-items-center">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 col">
                                        <label for="">Người hướng dẫn: </label>
                                    </div>
                                    <div class="col-lg-9 col">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Nguyễn Đức Cương</option>
                                            <option value="1">Lê Thị Cẩm Tú</option>
                                            <option value="2">Từ Thị Xuân Hiền</option>
                                            <option value="3">Nguyễn Phương Hồng</option>
                                            <option value="4">Quách Biên Cương</option>
                                            <option value="5">Nguyễn Thị Phương Loan</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-1 col-12">
                                        <label for="">Mô tả: </label>
                                    </div>
                                    <div class="col-lg-11 col-12">
                                        <textarea class="w-100" style="height: 200px;" name="" id=""></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row my-3">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-secondary text-capitalize">Đăng kí</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>