<div class="container-fluid" style="height: 500px;">
    <div class="row align-items-center border-bottom" style="height: 50px;">
        <p>Trang chủ | Cập nhật tiến độ</p>
    </div>
    <div class="row flex-nowrap mt-3 update px-3">
        <div class="card mb-5 mx-3" style="width: 25rem;height:min-content">
            <div class="card-body">
                <h5 class="card-title">Tiêu đề</h5>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <button type="button" class="btn btn-secondary mt-2">Thêm thẻ</button>
            </div>
        </div>
        <div class="card mb-5 mx-3" style="width: 25rem;height:min-content">
            <div class="card-body">
                <h5 class="card-title">Tiêu đề</h5>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <button type="button" class="btn btn-secondary mt-2">Thêm thẻ</button>
            </div>
        </div>
        <div class="card mb-5 mx-3" style="width: 25rem;height:min-content">
            <div class="card-body">
                <p>Thêm danh sách khác</p>
            </div>
        </div>
    </div>
</div>