*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body{
    height: 100%;
}

.header{
    height: 120px;
}

.text-red{
    color: #ED3338;
}

.font-xl{
    font-size: 48px;
}

.inner-shadow{
    box-shadow: inset 0px 1px 4px #c2bebe;
}