<footer class="border-top container" style="height: 15vh;">
    <div class="row align-items-center g-lg-0">
        <p class="mb-0 col-12 col-lg-6">
            <i class="fa-solid fa-house me-2"></i>
            <strong>Địa chỉ:</strong> 34 - 34A Nguyễn Bỉnh Khiêm, Phường 1, Quận Gò Vấp, TP. HCM
        </p>
        <p class="mb-0 col-12 col-lg-3">
            <i class="fa-solid fa-envelope me-2"></i>
            <strong>Email:</strong> <a href="mailto:tuyensinh@bkc.edu.vn" class="text-decoration-none">tuyensinh@bkc.edu.vn</a>
        </p>
        <p class="mb-0 col-12 col-lg-3">
            <i class="fa-solid fa-phone me-2"></i>
            <strong>Hotline Tuyển sinh:</strong> <a href="tel:0918155408" class="text-decoration-none">091 8155 408</a>
        </p>
    </div>
    
</footer>
