<footer class="border-top" style="height: 10%;">
    <p class="m-0">Địa chỉ: 34 - 34A Nguyễn Bỉnh Khiêm, Phường 1, Quận Gò Vấp, TP. HCM</p>
    <p class="m-0">Email: tuyensinh@bkc.edu.vn</p>
    <p class="m-0">Hotline Tuyển sinh: 091 8155 408</p>
</footer>