<footer class="border-top container d-flex flex-column justify-content-center" style="height: 15vh;">
    <p><i class="fa-solid fa-house"></i> Địa chỉ: 34 - 34A Nguyễn Bỉnh Khiêm, Phường 1, Quận Gò Vấp, TP. HCM</p>
    <p><i class="fa-solid fa-envelope"></i> Email: tuyensinh@bkc.edu.vn</p>
    <p><i class="fa-sharp fa-solid fa-phone"></i> Hotline Tuyển sinh: 091 8155 408</p>
</footer>