<header class="container-fluid border-bottom" style="height:10%;">
    <div class="row h-100">    
        <div class="col h-100">
            <img class="h-100" src="/img/logo_bkcNGANG-1.png" alt="">
        </div>
        <div class="col"></div>
    </div>
</header>