<nav class="h-100" style="background-color: #F67E29;">
    <div class="w-100 d-flex justify-content-center align-items-center" style="height: 70px;">
        <img class="" src="img/image-removebg-preview_3.png" style="height: 50px; width:50px" alt="">
    </div>
    {{!-- menu --}}
    <ul class="list-group border-0 mt-5"> 
        <li class="list-group-item bg-orange text-light active border-0" aria-current="true">Trang chủ</li>
        <li class="list-group-item bg-orange text-light border-0">A second item</li>
        <li class="list-group-item bg-orange text-light border-0">A third item</li>
        <li class="list-group-item bg-orange text-light border-0">A fourth item</li>
        <li class="list-group-item bg-orange text-light border-0">And a fifth one</li>
    </ul>
</nav>

    