<h1>Upload File</h1>
<form action="/upload/project" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Upload Project File</button>
</form>
<h1>Upload Avatar</h1>
<form action="/upload/avatar" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <input type="hidden" name="is_avatar" value="1">
    <button type="submit">Upload Project File</button>
</form>