<div class="container flex-fill scroll " style="">
    <div class="row flex-nowrap my-3">
        <div class="card mx-3" style="width: 25rem;height:min-content">
            <div class="card-body">
                <h5 class="card-title">Tiêu đề</h5>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <button type="button" class="btn btn-secondary mt-2">Thêm thẻ</button>
            </div>
        </div>
        <div class="card mx-3" style="width: 25rem;height:min-content">
            <div class="card-body">
                <h5 class="card-title">Tiêu đề</h5>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <div class="border rounded bg-primary align-items-center d-flex justify-content-between px-3 mt-2" style="height: 50px;">
                    <a href="" class="">Tiêu đề</a>
                </div>
                <button type="button" class="btn btn-secondary mt-2">Thêm thẻ</button>
            </div>
        </div>
        <div class="card mx-3" style="width: 25rem;height:min-content">
            <div class="card-body">
                <p>Thêm danh sách khác</p>
            </div>
        </div>
    </div>
</div>