<div class="container errlogin">
    <div class="icon">
        <img src="/img/logo_khoabkc.jpg" alt="Error icon" class="error-image">
        <img src="/img/logo_bkc.png" alt="Error icon" class="error-image">
    </div>
    <h1>Bạn chưa đăng nhập vào hệ thống!!!</h1>
    <p>Vui lòng đăng nhập để tiếp tục.</p>
    <p><a href="/" class="cta-link">Đăng nhập tại đây</a></p>
</div>