<div class="container-fluid" style="height: 500px;">
    <div class="row align-items-center border-bottom" style="height: 50px;">
        <p>Trang chủ | Cập nhật tiến độ</p>
    </div>
    <div class="row flex-nowrap mt-3 update">
        <div class="col" style="height: calc(100% + 50%);">
            <div class="card h-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề</h5>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <button type="button" class="mt-2 btn btn-secondary">Secondary</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề</h5>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <button type="button" class="mt-2 btn btn-secondary">Secondary</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề</h5>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <button type="button" class="mt-2 btn btn-secondary">Secondary</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề</h5>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <button type="button" class="mt-2 btn btn-secondary">Secondary</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề</h5>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <div class="mt-2 px-3 bg-primary border rounded align-items-center d-flex justify-content-between" style="height: 50px;">
                        <p class="text-light">Tiêu đề</p>
                        <a href="" class="text-light">::</a>
                    </div>
                    <button type="button" class="mt-2 btn btn-secondary">Secondary</button>
                </div>
            </div>
        </div>
    </div>
</div>