<div class="container my-2 " style="height: 70vh;">
    <div class="row p-2 h-100">
        <div class="h-100">
            <div class="border rounded-3 h-100">
                <div class="text-light bg-orange border rounded-top p-2" style="height: 50px;">Danh sách giảng viên</div>
                <div class="scroll" style="height: calc(100% - 50px);">
                    <table class="table">
                        <thead>
                            <tr class="position-sticky top-0 p-2 text-nowrap">
                                <th scope="col">Tên giảng viên</th>
                                <th scope="col">Sinh ngày</th>
                                <th scope="col">SĐT</th>
                                <th scope="col">Email</th>
                                <th scope="col">Địa chỉ</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            <tr>
                                <th scope="row">Nguyễn Đức Cương</th>
                                <td>09/10/1987</td>   
                                <td>0795488914</td>
                                <td>duccuong1987@gmail.com</td>
                                <td>số 1 Nguyễn Bỉnh Khiêm</td>
                                <td><i>xóa</i> <i>sửa</i></td>
                            </tr>
                                                        <tr>
                                <th scope="row">Nguyễn Đức Cương</th>
                                <td>09/10/1987</td>   
                                <td>0795488914</td>
                                <td>duccuong1987@gmail.com</td>
                                <td>số 1 Nguyễn Bỉnh Khiêm</td>
                                <td><i>xóa</i> <i>sửa</i></td>
                            </tr>
                                                        <tr>
                                <th scope="row">Nguyễn Đức Cương</th>
                                <td>09/10/1987</td>   
                                <td>0795488914</td>
                                <td>duccuong1987@gmail.com</td>
                                <td>số 1 Nguyễn Bỉnh Khiêm</td>
                                <td><i>xóa</i> <i>sửa</i></td>
                            </tr>
                            <tr>
                                <th scope="row">Nguyễn Đức Cương</th>
                                <td>09/10/1987</td>   
                                <td>0795488914</td>
                                <td>duccuong1987@gmail.com</td>
                                <td>số 1 Nguyễn Bỉnh Khiêm</td>
                                <td><i>xóa</i> <i>sửa</i></td>
                            </tr>
                            <tr>
                                <th scope="row">Nguyễn Đức Cương</th>
                                <td>09/10/1987</td>   
                                <td>0795488914</td>
                                <td>duccuong1987@gmail.com</td>
                                <td>số 1 Nguyễn Bỉnh Khiêm</td>
                                <td><i>xóa</i> <i>sửa</i></td>
                            </tr>
                            <tr>
                                <th scope="row">Nguyễn Đức Cương</th>
                                <td>09/10/1987</td>   
                                <td>0795488914</td>
                                <td>duccuong1987@gmail.com</td>
                                <td>số 1 Nguyễn Bỉnh Khiêm</td>
                                <td><i>xóa</i> <i>sửa</i></td>
                            </tr>
                            <tr>
                                <th scope="row">Nguyễn Đức Cương</th>
                                <td>09/10/1987</td>   
                                <td>0795488914</td>
                                <td>duccuong1987@gmail.com</td>
                                <td>số 1 Nguyễn Bỉnh Khiêm</td>
                                <td><i>xóa</i> <i>sửa</i></td>
                            </tr>
                            <tr>
                                <th scope="row">Nguyễn Đức Cương</th>
                                <td>09/10/1987</td>   
                                <td>0795488914</td>
                                <td>duccuong1987@gmail.com</td>
                                <td>số 1 Nguyễn Bỉnh Khiêm</td>
                                <td><i>xóa</i> <i>sửa</i></td>
                            </tr>
                            <tr>
                                <th scope="row">Nguyễn Đức Cương</th>
                                <td>09/10/1987</td>   
                                <td>0795488914</td>
                                <td>duccuong1987@gmail.com</td>
                                <td>số 1 Nguyễn Bỉnh Khiêm</td>
                                <td><i>xóa</i> <i>sửa</i></td>
                            </tr>
                            <tr>
                                <th scope="row">Nguyễn Đức Cương</th>
                                <td>09/10/1987</td>   
                                <td>0795488914</td>
                                <td>duccuong1987@gmail.com</td>
                                <td>số 1 Nguyễn Bỉnh Khiêm</td>
                                <td><i>xóa</i> <i>sửa</i></td>
                            </tr>
                            <tr>
                                <th scope="row">Nguyễn Đức Cương</th>
                                <td>09/10/1987</td>   
                                <td>0795488914</td>
                                <td>duccuong1987@gmail.com</td>
                                <td>số 1 Nguyễn Bỉnh Khiêm</td>
                                <td><i>xóa</i> <i>sửa</i></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</div>
