<form method="post" action="" class="container my-2 scroll" style="height: 70vh;">
    <div class="row gy-2">
        <div class="col-12">
            <fieldset class="reset">
                <legend class="reset">Thông tin đề tài</legend>
                <div class="container">
                    <div class="row">
                        {{!--  --}}
                        <div class="col-lg-4 col-12 ">
                            <p>Tên đề tài</p>
                            <input type="text" class="form-control" name="" id="">
                            <p>Chuyên ngành</p>
                            <select name="" id="" class="form-select">
                                <option value="">Chọn</option>
                            </select>
                        </div>
                        {{!--  --}}
                        <div class="col-lg-5 col-12 d-flex flex-column">
                            <p>Mô tả</p>
                            <textarea class="form-control flex-fill" name="" id=""></textarea>
                        </div>
                        {{!--  --}}
                        <div class="col-lg-3 col-12 d-flex flex-column">
                            <fieldset class="reset flex-fill">
                                <legend class="reset">Thông tin đề tài</legend>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    Chưa bắt đầu
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                  <label class="form-check-label" for="flexRadioDefault2">
                                    Bắt đầu
                                  </label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        {{!--  --}}
        <div class="col-sm-4 col-12 d-flex">
            <fieldset class="reset flex-fill">
                <legend class="reset">Thông tin đề tài</legend>
                <p>Tên đề tài</p>
                <select name="" id="" class="form-select">
                    <option value="">Chọn</option>
                </select>
            </fieldset>
        </div>
        {{!--  --}}
        <div class="col-sm-8 col-12">
            <fieldset class="reset h-auto">
                <legend class="reset">Thông tin đề tài</legend>
                <div class="container gy-1">
                    <div class="row gy-1 ">
                        <div class="col-12 col-lg-2 d-flex align-items-center">
                            <p class="text-nowrap">Tên đề tài</p>
                        </div>
                        <div class="col-12 col-sm-10 col-lg-9">
                            <input type="text" name="" id="" class="form-control tag_input">
                        </div>
                        <div class="col-12 col-sm-2 col-lg-1 d-flex justify-content-end">
                            <input type="button" class="btn btn-success search_btn" value="Tìm">
                        </div>
                        <div class="col-12 col-sm-8 col-lg-10 border rounded p-1 bg-gray">
                            <div class="container">
                                <div class="row">
                                    <div class="col d-flex flex-wrap align-items-start tag_container">
                                        <div class="border bg-success rounded d-flex align-items-center p-1 text-light">
                                            <p class="mx-1">Quản trị mạng</p><i><i class="fa-solid fa-x fa-sm mx-1"></i></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 col-lg-2 d-flex justify-content-end">
                            <input type="button" class="btn btn-danger" onclick="removeAllTags()" value="Xóa tất cả">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-warning">Submit</button>
        </div>
    </div>
</form>

<script>
    var tag_container = document.querySelector('.tag_container');
    var tag_input = document.querySelector('.tag_input');
    var search_btn = document.querySelector('.search_btn');

    var tags = [];

    function createTags(){
       
        tag_container.innerHTML = '';
        for(let i = 0; i < tags.length; i++){
            const tag = tags[i];
            tag_container.innerHTML +=`                                        <div class="border bg-success rounded d-flex align-items-center p-1 text-light">
                                            <p class="mx-1 text-break">${tag}</p><i class="fa-solid fa-x fa-sm mx-1" onclick="removeTag(${i})"></i>
                                        </div>`
        }
    };

    createTags()

    search_btn.addEventListener("click",function(event){
        if(!tag_input.value)
        {
            return; 
        }
        tags.push(tag_input.value.trim());
        tag_input.value = '';
        createTags();
    })

    function removeTag(index){
        tags.splice(index,1);
        createTags();
    }

    function removeAllTags(){
        tags = [];
        createTags();
    }


</script>