<div class="container my-2 scroll" style="height:70vh;">
    <div class="row gy-3 p-2 h-100">
        <div class="col-12">
            <p class="fs-3 fw-bold">Thông tin tài khoản</p>
        </div>
        <div class="col-lg-3 col-12 border-end">
            <div class="d-flex justify-content-center" style="height:10rem;">
                <img src="/img/image-removebg-preview_3.png" alt="" class="border rounded-circle h-100" >
            </div>
        </div>
        <div class="col-lg-9 col-12">
            <div class="container">
                <div class="row gy-1">
                    {{!-- MSSV hoặc Mã giảng viên --}}
                    <div class="col-lg-3 col-sm-4 col-12">
                        <p>Mã số</p>
                        <input type="text" class="form-control" disabled>
                    </div>
                    {{!-- Họ tên --}}
                    <div class="col-lg-6 col-sm-8 col-12">
                        <p>Họ tên</p>
                        <input type="text" class="form-control" disabled>
                    </div>
                    {{!-- Quyền --}}
                    <div class="col-lg-3 col-sm-3 col-12">
                        <p>Quyền</p>
                        <input type="text" name="" id="" class="form-control" value="giảng viên" disabled>
                    </div>
                    {{!-- phone --}}
                    <div class="col-lg-5 col-sm-4 col-12">
                        <p>Số điện thoại</p>
                        <input type="number" name="" id="" class="form-control" disabled="true">
                    </div>
                    {{!-- gmail --}}
                    <div class="col-lg-5 col-sm-5 col-12">
                        <p>Gmail</p>
                        <input type="email" name="" id="" class="form-control" disabled>
                    </div>
                    {{!-- Giới tính --}}
                    <div class="col-lg-2 col-sm-2 col-12">
                        <p>Giới tính</p>
                        <input type="text" name="" id="" class="form-control" disabled>
                    </div>

                    {{!-- address --}}
                    <div class="col-lg-12 col-sm-10 col-12">
                        <p>Địa chỉ</p>
                        <input type="text" name="" id="" class="form-control" disabled>
                    </div>
                    {{!-- date of birth --}}
                    <div class="col-lg-4 col-sm-4 col-12">
                        <p>Ngày sinh</p>
                        <input type="date" name="" id="" class="form-control" disabled>
                    </div>
                    {{!-- chuyên ngành --}}
                    <div class="col-lg-4 col-sm-4 col-12">
                        <p>chuyên ngành</p>
                        <input type="text" name="" id="" class="form-control" disabled>
                    </div>
                    {{!-- nếu là sinh viên thì render lớp --}}
                    <div class="col-lg-4 col-sm-4 col-12">
                        <p>Lớp</p>
                        <input type="text" name="" id="" class="form-control" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>