<div class="container my-2 scroll" style="height:70vh;">
    <div class="row p-2">
        <div class="col">
            <h1>Chỉnh sửa tài khoản</h1>
        </div>
    </div>
    <form class="row p-2">
        <div class="col-sm-4 col-12">
            <h3>Ảnh người dùng</h3>
            <img src="/img/atsushi.png" alt="User Avatar" class="img-fluid" style="height: 150px;width:150px;">
            <input type="file" id="avatar" accept="image/*">
        </div>
        <div class="col-sm-8 col-12">
            <h3 class="mb-2">Thông tin người dùng</h3>
            <div class="d-flex mb-2 ">
                <p>id</p>
                <input type="text">
            </div>
            <div class="d-flex mb-2 ">
                <p>Tên đăng nhập</p>
                <input type="text">
            </div>
            <div class="d-flex mb-2 ">
                <p>vài trò</p>
                <select name="" id="">
                    <option value="sinh viên">Sinh viên</option>
                    <option value="sinh viên">Sinh viên</option>
                    <option value="sinh viên">Sinh viên</option>
                </select>
            </div>
            <div class="d-flex mb-2 ">
                <p>Mật khẩu</p>
                <button>khởi tạo lại mật khẩu</button>
            </div>
        </div>
    </form>
</div>