<div class="container-fluid" style="height: 75%;">
    <div class="row border-bottom align-items-center" style="height: 50px;">
        <p>Trang chủ | Quản lí danh sách đề tài</p>
    </div>
    <div class="row">
        <div class="container overflow-hidden">
            <div class="row mt-3 gx-5  bg-light p-3">
                <p class="col-12 mb-3 fw-bold">Danh sách đề tài</p>
                <div class="col bg-primary border rounded mx-3 p-3">
                    <div class="text-light">
                        <i></i>
                        <p>135 đề tài</p>
                        <p>Quản trị mạng</p>
                    </div>
                </div>
                <div class="col bg-primary border rounded mx-3 p-3">
                    <div class="text-light">
                        <i></i>
                        <p>135 đề tài</p>
                        <p>Ứng dụng phần mềm</p>
                    </div>
                </div>
                <div class="col bg-primary border rounded mx-3 p-3 ">
                    <div class="text-light">
                        <i></i>
                        <p>135 đề tài</p>
                        <p>Thương mại điện tử</p>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 50px;">
                <p>tìm kiếm</p>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Tên đề tài</th>
                        <th scope="col">Tên sinh viên</th>
                        <th scope="col">Ngày đăng kí</th>
                        <th scope="col">GV hướng dẫn</th>
                        <th scope="col">Tình trạng</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Quản lí đồ án tốt nghiệp</td>
                            <td>Nguyễn Văn An</td>
                            <td>30/09/2024</td>
                            <td>Nguyễn Đức Cương</td>
                            <td>Đã Hoàn Thành</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>