<div class="container my-2 w-100" style="height: 70vh;">
  <div class="row p-2 bg-light w-100" style="height:30%">
    <div class="">Danh sách đề tài</div>
    <div class="col-12">
      <div class="container h-100">
        <div class="row flex-nowrap scroll-x h-100 justify-content-around align-items-center">
          <div class="bg-primary border rounded text-light d-grid align-items-center p-3" style="width:200px;">
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
            <p>153 đề tài</p>
            <p>Quản trị mạng</p>
          </div>
          <div class="bg-primary border rounded text-light d-grid align-items-center p-3" style="width:200px;">
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
            <p>153 đề tài</p>
            <p>Thương mại điện tử</p>
          </div>
          <div class="bg-primary border rounded text-light d-grid align-items-center p-3 topic_active" style="width:200px;">
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
            <p>153 đề tài</p>
            <p>Ứng dụng phần mềm</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row w-100" style="height:70%;">
    <div class="col-12" style="height: 50px;"><div class="position-sticky top-0 p-2 bg-light d-flex justify-content-end"><input class="border rounded-pill mx-2 px-2 py-1 text-start" type="text" name="" id="" placeholder="tìm kiếm đề tài"><p class="text-end"><i class="fa-solid fa-magnifying-glass fa-lg"></i></p></div></div>
    <div class="col scroll" style="height: calc(100% - 50px);">
      <table class="table ">
        <thead>
          <tr class="position-sticky top-0 p-2 bg-light text-nowrap">
            <th scope="col">#</th>
            <th scope="col">Tên đề tài</th>
            <th scope="col">Tên sinh viên</th>
            <th scope="col">Ngày đăng kí</th>
            <th scope="col">GV hướng dẫn</th>
            <th scope="col">Tình Trạng</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Quản lí đồ án tốt nghiệp</td>
            <td>Nguyễn Văn An</td>
            <td>30/9/2024</td>
            <td>TS.Nguyễn Đức Cương</td>
            <td>Hoàn thành</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Quản lí đồ án tốt nghiệp</td>
            <td>Nguyễn Văn An</td>
            <td>30/9/2024</td>
            <td>TS.Nguyễn Đức Cương</td>
            <td>Hoàn thành</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Quản lí đồ án tốt nghiệp</td>
            <td>Nguyễn Văn An</td>
            <td>30/9/2024</td>
            <td>TS.Nguyễn Đức Cương</td>
            <td>Hoàn thành</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Quản lí đồ án tốt nghiệp</td>
            <td>Nguyễn Văn An</td>
            <td>30/9/2024</td>
            <td>TS.Nguyễn Đức Cương</td>
            <td>Hoàn thành</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Quản lí đồ án tốt nghiệp</td>
            <td>Nguyễn Văn An</td>
            <td>30/9/2024</td>
            <td>TS.Nguyễn Đức Cương</td>
            <td>Hoàn thành</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>